<!-- <!DOCTYPE html>
<html>
<head>
  <title>MyHappyPlace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html> -->


<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Happy Place</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap Core CSS -->
  <!-- <link href="../../app/assets/stylesheets/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom CSS -->
  <!-- <link href="../../app/assets/stylesheets/heroic-features.css" rel="stylesheet"> -->
</head>
<body>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ruby-PikaDish</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li> <a href="#">Contact Us</a> </li>
                  <li> <a href="/">View Meals</a> </li>
                  <li> <a href="/meal_plans">Weekly Plan</a> </li>
                  <li> <a href="/meals/new">Create new meal</a> </li>
                  <li> <a href="#">Search</a> </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


  <!-- Page Content -->
  <div class="container">
    <!-- Page Features -->

    <%= yield %>
    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Ruby - PikaDish 2015</p>
        </div>
      </div>
    </footer>
  </div>
  <!-- /.container -->

</body>
</html>
